.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/lukasz-radziejewski-DyvaBYIRXE8-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 279px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 30px 157px 0;
}

.u-section-1 .u-text-3 {
  margin: 284px 0 0 981px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-3 {
    width: 826px;
    margin-left: 781px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 561px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
    margin-left: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: 181px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 578px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 228px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  margin: 48px auto 0 135px;
}

.u-section-2 .u-text-2 {
  margin: 4px 125px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 228px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 255px;
  height: 72px;
  margin: 78px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 230px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 38px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: -66px 329px 0 135px;
}

.u-section-2 .u-text-4 {
  margin: 2px 38px 0 135px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 230px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  margin: 54px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.75rem;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 2px 18px 4px 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 188px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 188px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 85px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 103px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 96px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 224px;
    margin-left: 103px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 216px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 136px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}